@import "./common";
@import "utils";
/*svg图标样式*/
.svg-icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}



// @font-face {
// 	font-family: 'ALiR';
// 	src: url('/static/font/AlibabaPuHuiTiR/webfont.eot');
// 	/* IE9*/
// 	src: url('/static/font/AlibabaPuHuiTiR/webfont.eot') format('embedded-opentype'),
// 		/* IE6-IE8 */
// 		url('/static/font/AlibabaPuHuiTiR/webfont.woff') format('woff'),
// 		/* chrome、firefox */
// 		url('/static/font/AlibabaPuHuiTiR/webfont.ttf') format('truetype'),
// 		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
// 		url('/static/font/AlibabaPuHuiTiR/webfont.svg') format('svg');
// 	/* iOS 4.1- */
// }

// @font-face {
// 	font-family: 'ALiB';
// 	src: url('/static/font/AlibabaPuHuiTiB/webfont.eot');
// 	/* IE9*/
// 	src: url('/static/font/AlibabaPuHuiTiB/webfont.eot') format('embedded-opentype'),
// 		/* IE6-IE8 */
// 		url('/static/font/AlibabaPuHuiTiB/webfont.woff') format('woff'),
// 		/* chrome、firefox */
// 		url('/static/font/AlibabaPuHuiTiB/webfont.ttf') format('truetype'),
// 		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
// 		url('/static/font/AlibabaPuHuiTiB/webfont.svg') format('svg');
// 	/* iOS 4.1- */
// }

@font-face {
	font-family: 'ALiR';
	src: url("/static/font/AlibabaPuHuiTiR.ttf");
}

@font-face {
	font-family: 'ALiB';
	src: url("/static/font/AlibabaPuHuiTiB.ttf");

}

@font-face {
	font-family: 'PingFang';
	src: url("/static/font/PingFang.ttf");
}

@font-face {
	font-family: 'FjallaOne';
	src: url("/static/font/FjallaOne.ttf");
}

@font-face {
	font-family: "MicrosoftYaHei-Bold";
	src: url("/static/font/MicrosoftYaHei-Bold.ttf");
}




.alir {
	font-family: 'ALiR' !important;
}

.alib {
	font-family: 'ALiB' !important;
	font-weight: 600;
}

.pf {
	font-family: 'PingFang' !important;
}

.fo {
	font-family: 'FjallaOne' !important;
}

.fob {
	font-family: 'FjallaOne' !important;
	font-weight: 600;
}

.ms-b{
	font-family: 'MicrosoftYaHei-Bold' !important;
	font-weight: 600;
}

html * {
	font-family: "ALiR",
}

#app {
	height: 100%;
	width: 100%;

	&>div {
		height: 100%;
		width: 100%;

	}
}
