@import "./common";
@import "utils";

/*svg图标样式*/
.svg-icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}


@font-face {
	font-family: 'ALiR';
	src: url("/static/font/AlibabaPuHuiTiR.ttf");
}

@font-face {
	font-family: 'ALiB';
	src: url("/static/font/AlibabaPuHuiTiB.ttf");

}

@font-face {
	font-family: 'PingFang';
	src: url("/static/font/PingFang.ttf");
}

@font-face {
	font-family: 'FjallaOne';
	src: url("/static/font/FjallaOne.ttf");
}

@font-face {
	font-family: "MicrosoftYaHei-Bold";
	src: url("/static/font/MicrosoftYaHei-Bold.ttf");
}




.alir {
	font-family: 'ALiR' !important;
	font-weight: 400;
}

.alib {
	font-family: 'ALiB' !important;
	font-weight: 600;
}

.pf {
	font-family: 'PingFang' !important;
}

.fo {
	font-family: 'FjallaOne' !important;
}

.fob {
	font-family: 'FjallaOne' !important;
	font-weight: 600;
}

.ms-b {
	font-family: 'MicrosoftYaHei-Bold' !important;
	font-weight: 600;
}

html * {
	font-family: "ALiR",
}

#app {
	height: 100%;
	width: 100%;

	&>div {
		height: 100%;
		width: 100%;

	}
}