.el-dialog {
    background: #233147;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;

    .el-dialog__headerbtn {
        top: 14px;
    }

    .el-dialog__close {
        padding: 3px;
        border-radius: 50px;
        background: white;
    }

    .el-dialog__close:before {
        font-size: 16px;
        content: "\E6DB";
        font-weight: bold;
    }

    .el-dialog__header {
        padding: 0;
        height: 40px;
        background: #234479;
        border-radius: 5px 5px 0px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        .blankDiv {
            i {
                font-size: 18px;
                color: #fff;
            }
        }

        .el-dialog__title {
            color: #ffffff;
            font-size: 14px;
        }
    }

    .Qfooter {
        text-align: center;

        .el-button {
            padding: 0 !important;
            text-align: center;
            border: 1px solid #b9b9b9;
            border-radius: 5px;

            span {
                display: inline-block;
                width: 100px;
                height: 36px !important;
                line-height: 36px;
            }
        }

        .el-button:last-child {
            border: 0;
        }
    }
}

.el-tabs--bottom {
    height: auto;

    .el-tabs__item {
        color: #fff;
        font-size: 14px;
        height: auto;
        line-height: 28px;
        padding-right: 0;
        font-weight: normal;
    }

    .el-tabs__item.is-active {
        color: rgba(97, 156, 255, 1);
    }

    .el-tabs__nav-wrap::after {
        height: 0;
    }

    .el-tabs__header.is-bottom {
        margin-top: 0;
    }
}

// tabs
.el-radio-group {
    .el-radio-button__inner {
        height: 34px;
        padding: 0 10px;
        color: #fff;
        background: #2b3645;
        border-color: #2b3645;
        font-weight: normal;
        line-height: 34px;

        &:hover {
            background: #3e5b82;
        }
    }

    //.el-radio-button:first-child.is-focus{
    //    border-left-color: #2b3645;
    //}
    .el-radio-button:first-child:not(.is-focus) .el-radio-button__inner {
        border-radius: 0.02rem 0 0 0.02rem;
        border-left-color: #2b3645;
    }

    .el-radio-button:last-child .el-radio-button__inner {
        border-radius: 0.02rem 0 0 0.02rem;
    }
}

.input-with-search{
    font-size: 12px!important;
    height: 34px;
    background: #2b3645;
    line-height: 34px;
    .el-input-group__prepend, .el-input-group__append{
        height: 30px;
        background-color: transparent;
        border: none;
    }
    .el-input-group__prepend{
        border-right: 1px solid #d9d9d9;
        width: 50px;
        padding: 0;
        .el-input__inner{
            padding: 0;
        }
        .el-select{
            margin: 0;
        }
    }
    .el-input__inner,.el-button{
        height: 34px;
        background-color: transparent;
        border: none;
    }
    .el-input--suffix{
        .el-input__inner{
            padding-right: 10px;
            width: 50px;
        }
    }
    //.el-button{
    //    background: transparent;
    //}
}

// form 表单 元素


//select
.el-select {
    /*滑动轨道*/
    ::-webkit-scrollbar-track{
        border-radius: 0px;
        background: none;
    }
    .el-select__tags {
        color: #ffffff;
        background: #101c2f;
        left: 2px;

        .el-tag {
            background: #101c2f;
            border: 1px solid #37455c;

            .el-tag__close {
                background: #37455c;
            }
        }
    }

    .el-input__inner {
        border: 1px solid #37455c;
        background: #101c2f;
    }

    .el-input__inner:hover {
        border: 1px solid #37455c;
    }
}

.el-select-dropdown__item.selected {
    background: #224167 !important;
}

.el-select-dropdown {}


.el-select-dropdown {
    background-color: #25395c;
    border: none;

    li {
        color: #fff;
    }

    li:hover,
    li.selected,
    li.hover {
        background-color: #4181e9;
        color: #fff;
    }

    .popper__arrow {
        border-bottom-color: #25395c !important;
    }

    .popper__arrow::after {
        border-bottom-color: #25395c !important;
    }
}

.el-checkbox__inner {
    background: #101c2f !important;
    border: 1px #101c2f solid;
}




//弹窗table样式
.el-table.layerTable {
    background-color: transparent;
    border-color: #45547c;

    thead {
        color: #fff;

        tr {
            background-color: #293756;

            th {
                background-color: #293756;
                border-color: #45547c;
            }
        }
    }

    tbody {
        tr {
            background-color: transparent;

            td {
                background: transparent;
                color: #Fff;
                border-color: #45547c;
            }
        }

        tr.el-table__row--striped td {
            background: rgba(84, 136, 255, 0.05);
        }

    }

    .el-table__body {

        tr:hover {
            td {
                background-color: #2c3f6d !important;
            }
        }
    }

}

.el-table.layerTable:before,
.el-table.layerTable:after {
    background-color: #45547c;
}
