.flightTableDiv{
  $rowHeight: 35px;
  color: #fff;
  overflow-y: hidden;
  overflow-x: visible;
  display: flex;

  ::v-deep {

    .el-input__inner{
      height: 34px;
      background-color: transparent;
    }
    .header{

      background-color: #273448;
      .text-blue-009{
        color: #0098ff!important;
      }
      .sort{
        height: 26px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .iconfont{
          line-height: 0.06rem;
        }
      }
      .icon-dsc {
        &:before{
          display: block;
          transform: rotate(180deg)scale(0.5);
        }
      }

      .icon-asc{
        &:before{
          display: block;
          transform:scale(0.5);
        }
      }
      .headerItem{
        line-height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        height: 26px;
      }
      .searchWrapper{
        background-color: #1e2a3d;
        width: 100%;
        height: $rowHeight;
        padding: 2px;
        .search{
          height: 100%;
          background-color: #273448;
          padding: 0 4px;
          input{
            height: 100%;
            padding: 2px;
            border: 0!important;
            background-color: transparent;
            outline: none;
            color: #fff;
            width: 100%;
          }
          .el-select{
            height: 100%;
            .el-input{
              height: 100%;
              .el-input__suffix-inner{
                height: 100%;
                .el-input__icon{
                  line-height: 100%;
                }
              }
            }
          }

        }

      }
      //.advanceSearch{
      //  background-color: #1e2a3d;
      //  padding: 5px 5px;
      //
      //
      //}
      .icon-lock-2 {
        width: 18px;
        height: 18px;
        display: inline-block;
        background: url("~@/ui/assets/img/tianfu/lock-2.svg") no-repeat;
        vertical-align: middle;
        background-size: 18px;
      }
      .icon-suoding2{
        font-size: 11px;
      }
    };
    .departWarnGreen{
      background-color: rgba(53,98,52,.5)!important;
      border-top: solid 1px #17212F;
    }
    .departWarnYellow{
      background-color: rgba(128,115,5,.5)!important;
      border-top: solid 1px #17212F;
    }
    .departWarnRed{
      background-color: rgba(138,22,22,.5)!important;
      border-top: solid 1px #17212F;
    }

    .warnTextGreen{
      color: rgba(0,255,26,1)!important;
    }
    .warnTextYellow{
      color: rgba(255,176,0,1)!important;
    }
    .warnTextRed{
      color: rgba(255,38,38,1)!important;
    }
    .active.bgA{
      background-color: rgba(87, 220, 149, 0.5) !important;
      box-shadow:0px 0px 2px rgb(114, 158, 129) inset;
    }
    .active.bgD{
      background-color: rgba(105, 134, 191, 0.5) !important;
      box-shadow:0px 0px 2px rgb(101, 125, 177) inset;
    }
    .checkedFlight.bgA,.checkedFlight.bgD{
      background-color: #0d7fa0!important;
      box-shadow:0px 0px 2px rgb(136, 169, 239) inset !important;
    }

    .left-border-delay, .left-border-vip, .left-border-none {
      width: 4px;
      top: 1px;
      bottom: 1px;
      left: 0;
      right: 0;
    }
    .left-border-delay {
      background-color: #dc3545;
    }
    .left-border-vip {
      background-color: #fd7e14;
    }
    .left-border-none {
      display:none;
    }
    .el-radio__label{
      display: none;
    }


  }

  .lock{
    box-shadow: 0.01rem .01rem 0.1rem #454c51!important;
  }
  .unlockBox{
    overflow-x: auto;
    position: absolute;
    /*整体部分*/
    &::-webkit-scrollbar{
      //width:.12rem;
      height:.10rem;
      width: 0;
      background-color: #000;
    }
    /*滑动轨道*/
    &::-webkit-scrollbar-track{
      border-radius: 0px;
      background-color: #000;
    }
    /*滑块*/
    &::-webkit-scrollbar-thumb{
      border-radius:.1rem;
      background-color: rgb(87, 86, 86);
    }
  }

  ::v-deep .row{
    height: $rowHeight;
    line-height: $rowHeight;
    display: flex;
    .cell{
      display: inline-block;
      text-align: center;
      overflow: hidden;
      border-right: 1px solid #414a59!important;
    }
    //实现“跑道”中的字体图标效果
    .letter-icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      vertical-align: middle;
      line-height: 27px;
      //background-color: $gray-500;
    }
    &:nth-child(even){
      background-color: #1E2A3D;
    }
    &:nth-child(odd){
      background-color: #17212F;
    }
  }
}