/*svg图标样式*/
.svg-icon {
	width: .18rem;
	height: .18rem;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}


@font-face {
	font-family: 'sansN';
	src: url("/static/font/Normal.ttf");
}

@font-face {
	font-family: 'sansB';
	src: url("/static/font/SourceHanSansCN-Bold.ttf");
}

@font-face {
	font-family: 'sansR';
	src: url("/static/font/Regular.ttf");
}

@font-face {
	//数字英文
	font-family: 'Arial';
	src: url("/static/font/Regular.ttf");
}

//数字字体
@font-face {
	font-family: 'orbiL';
	src: url("/static/font/orbitron-Light.ttf");
}

@font-face {
	font-family: 'orbiR';
	src: url("/static/font/orbitron-Regular.ttf");
}

@font-face {
	font-family: 'orbiB';
	src: url("/static/font/orbitron-Bold1.ttf");
}

@font-face {
	//重点数字
	font-family: 'siB';
	src: url("/static/font/siyuanBold.ttf");
}


.sansB {
	font-family: 'sansB' !important;
}

.sansN {
	font-family: 'sansN' !important;
}

.sansR {
	font-family: 'sansR' !important;
}

.orbiR {
	font-family: 'orbiR' !important;
}

.orbiL {
	font-family: 'orbiL' !important;
}

.orbiB {
	font-family: 'orbiB' !important;
}


.Arial {
	font-family: 'Arial' !important;
}

html * {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}