.el-select-dropdown {
    background-color: #25395c;
    border: none;

    li {
        color: #fff;
    }

    li:hover,
    li.selected,
    li.hover {
        background-color: #4181e9;
        color: #fff;
    }
}