.el-select {
    input {
        background-color: rgba(238, 238, 238, .1);
        border: none;
        color: #fff
    }
}

.el-select-dropdown {
    background-color: rgba(238, 238, 238, .1);
    border: none;

    li {
        color: #fff;
    }

    li:hover,
    li.selected,
    li.hover {
        background-color: rgba(238, 238, 238, .4);

    }
}

.homeSelect {
    li {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;

        span {
            font-size: 12px;
        }
    }
}
 .el-dialog{
     background: #233147;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
    .el-dialog__headerbtn{
        top:14px;
    }
    .el-dialog__close{
        padding: 3px;
        border-radius: 50px;
        background: white;
    }

    .el-dialog__close:before{
        font-size: 16px;
        content: "\E6DB";
        font-weight: bold;
    }
    .el-dialog__header{
        padding: 0;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background: #234479;
        border-radius: 5px 5px 0px 0px;
        .el-dialog__title {

            font-size: 18px;
            color: #ffffff;
        }
    }
    .Qfooter{
        text-align:center;
        .el-button{
            padding:0!important;
            text-align: center;
            border: 1px solid #b9b9b9;
            border-radius: 5px;
            span{
                display: inline-block;
                width: 100px;
                height: 36px!important;
                line-height: 36px;
            }
        }
        .el-button:last-child{
            border: 0;
        }
    }
}