.el-dialog {
    background: #233147;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;

    .el-dialog__headerbtn {
        top: 10px;
        right: 10px;
    }

    .el-dialog__close {
        padding: 3px;
        border-radius: 50px;
        background: white;
    }

    .el-dialog__close:before {
        font-size: 16px;
        content: "\E6DB";
        font-weight: bold;
    }

    .el-dialog__header {
        padding: 0;
        height: 40px;
        background: #234479;
        border-radius: 5px 5px 0px 0px;
        //display: flex;
        //justify-content: space-between;
        //align-items: center;
        line-height: 40px;
        text-align: center;

        .blankDiv {
            i {
                font-size: 18px;
                color: #fff;
            }
        }

        .el-dialog__title {
            text-align: center;
            color: #ffffff;
            font-size: 14px;
        }
    }

    .el-dialog__body {
        .el-form-item__label {
            color: #fff;
        }
    }


    .footer {
        text-align: center;
        padding-top: 10px;

        span {
            cursor: pointer;
            color: #fff;
            display: inline-block;
            text-align: center;
            border-radius: 3px;
            width: 140px;
            line-height: 34px;
            height: 34px;
            background: #2f3c51;
            margin-right: 20px;
            border: 1px solid #65a4e8;
            opacity: .8;
        }

        span:hover {}

        span:last-child {
            opacity: 1;
            color: #fff;
            margin: 0;
            background-color: #4181e9;
            border-color: #4181e9;
        }
    }
}