.input-with-search {
    font-size: 12px !important;
    height: 34px;
    background: #2b3645;
    line-height: 34px;

    .el-input-group__prepend,
    .el-input-group__append {
        height: 30px;
        border: none!important;
        background-color: #2b3645!important;
        .el-button{
            background-color: #2b3645!important;
        }
    }

    .el-input__inner {
        padding: 0 5px;
        color: #a1a1a1;
        border: none!important;
    }

    .el-input-group__prepend {
        width: 50px;
        padding: 0;

        .el-input__inner {
            padding: 0;
        }

        .el-select {
            margin: 0;
        }
    }

    .el-input__inner,
    .el-button {
        height: 34px;
        background-color: transparent;
        border: none;
    }

    .el-input--suffix {
        .el-input__inner {
            padding-right: 10px;
            padding-left: 10px;
            width: 80px;
        }
    }

    .el-input-group__append {
        padding: 0 5px;
    }

    //.el-button{
    //    background: transparent;
    //}
}

.el-textarea__inner {
    background: #36445a;
    border-radius: 2px;
    border: none !important;
}

.tableInput {
    background: #2b3645;
    color: #fff;
    border: none;
    height: 30px;
}

.tableInput.text {
    background: none;
}

.el-input-group__append {
    padding: 0 10px;
    border: 0.01rem solid #37455c !important;
    height: 100%;
    width: 30px;
    background: #101c2f !important;

    .el-button {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background: #101c2f !important;

    }
}