//select
.el-select {

    /*滑动轨道*/
    ::-webkit-scrollbar-track {
        border-radius: 0px;
        background: none;
    }

    .el-select__tags {
        color: #ffffff;
        background: #101c2f;
        left: 2px;

        .el-tag {
            background: #101c2f;
            border: 1px solid #37455c;

            .el-tag__close {
                background: #37455c;
            }
        }
    }

    .el-input__inner {
        border: 1px solid #37455c;
        background: #101c2f;
        height: 36px;
    }

    .el-input__inner:hover {
        border: 1px solid #37455c;
    }
}

.el-select-dropdown__item.selected {
    background: #264b79 !important;
    font-weight: 400;
}



.el-select-dropdown {
    background-color: #25395c;
    border: none;

    /*滑动轨道*/
    ::-webkit-scrollbar-track {
        border-radius: 0px;
        background: none;
    }

    li {
        color: #fff;
    }

    li:hover,
    li.selected,
    li.hover {
        background-color: #4181e9;
        color: #fff;
    }

    .popper__arrow {
        border-bottom-color: #25395c !important;
    }

    .popper__arrow::after {
        border-bottom-color: #25395c !important;
    }
}

.el-input.is-disabled {
    .el-input__inner {
        background: #101c2f;
        color: #ccc;
    }

}

.el-range-editor.is-disabled input {
    background: #101c2f;
    color: #ccc;
}

.el-range-editor.is-disabled {
    background: #101c2f;
    border-color: #101c2f;
    color: #ccc;
}