//弹窗table样式
.el-table {
    background-color: transparent;
    border-color: #45547c;
    max-width: none;

    .tableButton {
        cursor: pointer;
    }

    thead {
        color: #fff;

        tr {
            background-color: #293756;

            th {
                background-color: #293756;
                border-color: #45547c;
                height: 40px;
                padding: 0;
            }

            th.is-leaf {
                border-bottom: none;
            }
        }
    }

    tbody {
        tr {
            background-color: transparent;

            td {
                background: transparent;
                color: #Fff;
                border-color: #45547c;
                height: 40px;
                padding: 0;

            }
        }

        .el-table__row:nth-of-type(even)>td {
            background-color: rgba(84, 136, 255, 0.05);
        }

    }

    .el-table__body {
        tr:hover {
            td {
                background-color: rgb(255, 255, 255, .3) !important;
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

}

.el-table:before,
.el-table:after {
    background-color: #45547c;
}